<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta charset="utf-8" />
    <link src="~/Content/chat/js/firebase.init.js" type="text/javascript"/>
    <link href="~/Content/chat/css/login-register.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link href="~/Content/chat/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/chat/css/main.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/69010c3ee8.js" crossorigin="anonymous">
    </script>
    <link type="image/x-icon" rel="icon" href="~/Content/chat/imgs/deservico1.png" />
    <title>deServico Messenger</title>
    @Scripts.Render("~/bundles/modernizr")
</head>
<body onload="onFirebaseStateChange()">
    @RenderBody()
    <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase.js"></script>
    <script src="~/Content/chat/js/login-register.js"></script>
    <script src="~/Content/chat/js/chat.js"></script>
    <script src="~/Content/chat/js/popper.min.js"></script>
    <script src="~/Content/chat/js/jquery-3.6.0.js"></script>
    <script src="~/Content/chat/js/bootstrap.js"></script>
    <script src="~/Content/chat/js/bootstrap.min.js"></script>
    <script src="~/Content/chat/js/bootstrap.js"></script>
    <script src="~/Content/chat/js/firebase.init.js"></script>
</body>
</html>
