@model adminPanelMVC.Models.UserProfile

@{
    ViewBag.Title = "UserDashBoard";
}

<h2>UserDashBoard</h2>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
