
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

@if (Session["UserName"] != null)
{
    <h1 class="mt-4">Welcome @Session["UserName"].ToString()</h1>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Create", "Create", "Home")</li>
            <li>@Html.ActionLink("CategoryList", "CategoryList", "Home")</li>
        </ul>
    </div>

}
